{
    "swagger": "2.0",
    "info": {
        "title": "LNZ",
        "description": "JWT_REFRESH_TTL=999999 JWT_TTL=999999",
        "termsOfService": "",
        "license": {
            "name": "Private License"
        },
        "version": "1.0.0"
    },
    "host": "backoffice.mobimill.com:8086/api/v1",
    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/project/search/{id}": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "\u0434\u0456\u0441\u0442\u0430\u0442\u0438 \u043e\u0434\u0438\u043d \u043f\u0440\u043e\u0435\u043a\u0442 \u043f\u043e id",
                "responses": {
                    "200": {
                        "description": "\u043e\u0431'\u0454\u043a\u0442\u0456\u0432 Project",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    }
                }
            }
        },
        "/project/all": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "\u0434\u0456\u0441\u0442\u0430\u0442\u0438 \u0432\u0441\u0456 \u043f\u0440\u043e\u0435\u043a\u0442\u0438",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    }
                }
            }
        },
        "/project/create": {
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "\u0441\u0442\u0432\u043e\u0440\u0438\u0442\u0438 \u043f\u0440\u043e\u0435\u043a\u0442\u0438",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "\u043d\u0430\u0437\u0432\u0430 \u043f\u0440\u043e\u0435\u043a\u0442\u0430",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "\u043e\u043f\u0438\u0441 \u043f\u0440\u043e\u0435\u043a\u0442\u0430",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u0441\u0442\u0430\u0441 \u043f\u0440\u043e\u0435\u043a\u0442\u0430 \u0432\u0430\u043b\u0456\u0434\u0430\u0446\u0456\u044f \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u0442\u044c \u0442\u0456\u043b\u044c\u043a\u0438 NEW or OLD \u043f\u043e \u0434\u0435\u0444\u043e\u043b\u0442\u0443 \u0441\u0442\u043e\u0457\u0442\u044c NEW",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u043e\u0431'\u0454\u043a\u0442\u0456\u0432 Project",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    }
                }
            }
        },
        "/project/update": {
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "\u043e\u0431\u043d\u043e\u0432\u0438\u0442\u0438 \u043f\u0440\u043e\u0435\u043a\u0442\u0438",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id \u043f\u0440\u043e\u0435\u043a\u0442\u0430",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "\u043d\u0430\u0437\u0432\u0430 \u043f\u0440\u043e\u0435\u043a\u0442\u0430",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "\u043e\u043f\u0438\u0441 \u043f\u0440\u043e\u0435\u043a\u0442\u0430",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u0441\u0442\u0430\u0441 \u043f\u0440\u043e\u0435\u043a\u0442\u0430 \u0432\u0430\u043b\u0456\u0434\u0430\u0446\u0456\u044f \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u0442\u044c \u0442\u0456\u043b\u044c\u043a\u0438 NEW or OLD \u043f\u043e \u0434\u0435\u0444\u043e\u043b\u0442\u0443 \u0441\u0442\u043e\u0457\u0442\u044c NEW",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u043e\u0431'\u0454\u043a\u0442\u0456\u0432 Project",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    }
                }
            }
        },
        "/user/create": {
            "post": {
                "tags": [
                    "App\\Models\\Base\\Users\\User"
                ],
                "summary": "\u0441\u0442\u0432\u043e\u0440\u0438\u0442\u0438 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0430",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "first_name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "last_name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/App\\Models\\Base\\Users\\User"
                        }
                    }
                }
            }
        },
        "/user/update": {
            "post": {
                "tags": [
                    "App\\Models\\Base\\Users\\User"
                ],
                "summary": "\u043e\u0431\u043d\u043e\u0432\u0438\u0442\u0438 \u0434\u0430\u043d\u0456 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0430",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0430",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "first_name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "last_name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u043e\u0431'\u0454\u043a\u0442\u0456\u0432 Project",
                        "schema": {
                            "$ref": "#/definitions/App\\Models\\Base\\Users\\User"
                        }
                    }
                }
            }
        },
        "/user/search/{id}": {
            "get": {
                "tags": [
                    "App\\Models\\Base\\Users\\User"
                ],
                "summary": "\u0434\u0456\u0441\u0442\u0430\u0442\u0438 \u043e\u0434\u0438\u043d\u043e\u0433\u043e \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0430 \u043f\u043e id",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/App\\Models\\Base\\Users\\User"
                        }
                    }
                }
            }
        },
        "/user/all": {
            "get": {
                "tags": [
                    "App\\Models\\Base\\Users\\User"
                ],
                "summary": "\u0434\u0456\u0441\u0442\u0430\u0442\u0438 \u0432\u0441\u0456\u0445 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0456\u0432",
                "responses": {
                    "200": {
                        "description": "\u043c\u0430\u0441\u0438\u0432 \u043e\u0431'\u0454\u043a\u0442\u0456\u0432 User",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/App\\Models\\Base\\Users\\User"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Project": {
            "required": [
                "name",
                "status"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "example": "Project"
                },
                "status": {
                    "type": "string",
                    "example": "NEW"
                },
                "description": {
                    "type": "string",
                    "example": "\u0431\u043b\u0430 \u0431\u043b\u0430 \u0431\u043b\u0430"
                }
            }
        },
        "App\\Models\\Base\\Users\\User": {
            "required": [
                "first_name",
                "last_name",
                "email"
            ],
            "properties": {
                "first_name": {
                    "type": "string",
                    "example": "\u0406\u0432\u0430\u043d"
                },
                "last_name": {
                    "type": "string",
                    "example": "\u0406\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
                },
                "email": {
                    "type": "string",
                    "example": "email@email.com"
                }
            }
        }
    }
}